<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
  </head>
  <body>
     <div class="container" th:each="prod,iter: ${user}">
	     	<!-- <div th:if="${session.message}" th:classappend="${session.message}" class="alert alert-success" role="alert">
	     		<p th:text="${session.message}"></p>
	     		<th:block th:text="${#session.removeAttribute('message')}"></th:block>
	     	</div> -->
	     	 <a th:href="@{/list-user?name=jay&email=&username=&mobile=}" class="btn btn-primary">List</a>
	     	 <div th:if="${message}" th:classappend="${message}" class="alert alert-success" role="alert">
	     		<p th:text="${message}"></p>
	     	</div>
	     	<div th:if="${error}" th:classappend="${error}" class="alert alert-danger" role="alert">
	     		<p th:text="${error}"></p>
	     	</div> 
		      <form class="form-signin" method="post" th:action="@{/edit/{id}(id=${prod.id})}">
		        <h2 class="form-signin-heading">Enter User Details</h2>
		        <p>
		          <label for="username" class="sr-only">name</label>
		          <input type="text" th:value="${prod.name}" id="name" name="name" class="form-control" placeholder="Name" required autofocus>
		        </p>
		        <p>
		          <label for="username" class="sr-only">Email</label>
		          <input type="email" th:value="${prod.email}" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
		        </p>
		         <p>
		          <label for="username" class="sr-only">Mobile</label>
		          <input type="text" id="mobile" th:value="${prod.mobile}" name="mobile" class="form-control" placeholder="Mobile" required autofocus>
		        </p>
		        <p>
		          <label for="username" class="sr-only">Username</label>
		          <input type="text" id="username" th:value="${prod.username}" name="username" class="form-control" placeholder="Username" readonly required autofocus>
		        </p>
		        <p>
		          <label for="password" class="sr-only">Password</label>
		          <input type="password" id="password" th:value="${prod.password}" name="password" class="form-control" placeholder="Password" required>
		        </p>
		        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
		      </form>
</div>
</body></html>